<% if logged_in? %>
    <script id="bootstrap-current-user" type="text/javascript">
        window.currentUser = <%= render("api/users/user.json.jbuilder",
        user: current_user).html_safe %>
    </script>
<% end %>
<script type="text/javascript">
  window.images = {
    tab_logo: "<%= asset_path('bmw-logo.jpg')%>",
    splash_banner_logo: "<%= asset_path('banner-bimmers.jpg')%>",
    car_logos: "<%= asset_path('carlogos.png')%>",
    shuttle_img: "<%= asset_path('shuttle_img.png')%>",
    m_logo: "<%= asset_path('m_logo_bmw.png')%>",
    carousel_images: {
      car1: "<%= asset_path('silver-BMW-repair-700x300.png')%>",
      car2: "<%= asset_path('red-slide1-700x300.png')%>",
      car3: "<%= asset_path('multiple-cars-700x300.png')%>",
      car4: "<%= asset_path('hood-open-slide3-700x300.png')%>",
      car5: "<%= asset_path('mercedesshopboston-640x274.png')%>"
    },
    carousel_images_array: ["<%= asset_path('silver-BMW-repair-700x300.png')%>",
                            "<%= asset_path('red-slide1-700x300.png')%>",
                            "<%= asset_path('multiple-cars-700x300.png')%>",
                            "<%= asset_path('hood-open-slide3-700x300.png')%>",
                            "<%= asset_path('mercedesshopboston-640x274.png')%>"
                            ]
  }
  
</script>
<main id="root">BIMMERS PERFORMANCE HOME-ROOT</main>